/*
Admin page styles
*/
.postbox-container {
	width: 100%;
}
.postbox {
	width: 31%;
	float: left;
	margin: 0 10px 5px 0;
}
.usl_codes {
	border: 1px solid #DADADA;
	margin: 0 0 8px 0;
}
.usl_codes h4 {
	margin: 0;
	padding: 4px;
	background-color: #DADADA;
	font-size: 1.1em;
}
.usl_codes p {
	padding: 5px;
	margin: 0;
}
.hndle {
	padding: 7px;
}
.post-title strong {
    text-transform: capitalize;
}
/* Addons page */
[class^="usl-col-"], [class*=" usl-col-"] {
    display: inline-block;
    margin-right: -4px !important;
    vertical-align: top;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.usl-col-three {
    width:33.3333%;
}
.usl-addon {
    text-align: center;
    padding: 10px;
}
.usl-addon-container {
    background-color: #fff;
    text-align: center;
    padding: 10px;
    min-height: 223px;
}
.usl-addon a{
    text-decoration: none;
}
.usl-addon span {
    font-size: 130px;
    height: auto;
    width: auto;
}
.usl-addon h4 { margin: 0 0 20px;
}
@media screen and (max-width: 700px) {
    .usl-addon {
        width: 50% !important;
    }
}
@media screen and (max-width: 450px) {
    .usl-addon {
        width:100% !important;
    }
}