// Colors
$primary-color: #50A4B3;
$error-color: #ff5737;

// Transitions
$primary-transition: 300ms;

// Mixins
@mixin background-gradient($color1, $color2) {
  background: $color1;
  background: -moz-linear-gradient(top, $color1 0%, $color2 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $color1), color-stop(100%, $color2));
  background: -webkit-linear-gradient(top, $color1 0%, $color2 100%);
  background: -o-linear-gradient(top, $color1 0%, $color2 100%);
  background: -ms-linear-gradient(top, $color1 0%, $color2 100%);
  background: linear-gradient(to bottom, $color1 0%, $color2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color1', endColorstr='$color2', GradientType=0);
}

@mixin background-gradient-alt($color1, $color2) {
  background: $color1;
  background: -moz-linear-gradient(top, $color1 0%, darken($color1, 10%) 50%, darken($color2, 10%) 51%, $color2 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $color1), color-stop(50%, darken($color1, 10%)), color-stop(51%, darken($color2, 10%)), color-stop(100%, $color2));
  background: -webkit-linear-gradient(top, $color1 0%, darken($color1, 10%) 50%, darken($color2, 10%) 51%, $color2 100%);
  background: -o-linear-gradient(top, $color1 0%, darken($color1, 10%) 50%, darken($color2, 10%) 51%, $color2 100%);
  background: -ms-linear-gradient(top, $color1 0%, darken($color1, 10%) 50%, darken($color2, 10%) 51%, $color2 100%);
  background: linear-gradient(to bottom, $color1 0%, darken($color1, 10%) 50%, darken($color2, 10%) 51%, $color2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color1', endColorstr='$color2', GradientType=0);
}

@mixin clearfix {
  &:after {
    content: ' ';
    display: table;
    clear: both;
  }
}

@mixin icon($icon) {
  @extend .render-icon;

  &:before {
    @extend .render-icon-#{$icon}:before;
  }
}

@mixin primary-gradient {
  background: #50a4b3; /* Old browsers */
  background: -moz-linear-gradient(top,  #50a4b3 0%, #428993 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#50a4b3), color-stop(100%,#428993)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #50a4b3 0%,#428993 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #50a4b3 0%,#428993 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #50a4b3 0%,#428993 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #50a4b3 0%,#428993 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#50a4b3', endColorstr='#3c7c87',GradientType=0 ); /* IE6-9 */
}