@font-face {
  font-family: 'render';
  src:url('../icons/render.eot?km4rwy');
  src:url('../icons/render.eot?#iefixkm4rwy') format('embedded-opentype'),
  url('../icons/render.woff?km4rwy') format('woff'),
  url('../icons/render.ttf?km4rwy') format('truetype'),
  url('../icons/render.svg?km4rwy#render') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="render-icon-"], [class*=" render-icon-"], .render-icon {
  font-family: 'Render';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.render-icon-render-logo-condensed:before {
  content: "\e600";
}