@import "../global";

.render-accordion {

  border: 1px solid rgba(#000, 0.1);
  background-color: #ddd;
  padding: 5px;

  .render-accordion-heading {
    margin: 0;
  }

//  .render-accordion-content {
//    overflow: hidden;
//    height: 0;
//  }
}

// Tinymce
.render-tinymce-shortcode-wrapper {
  &.render_accordion {
    display: block;
  }
}