@import "../global";

.usl-accordion {

  border: 1px solid rgba(#000, 0.1);
  background-color: #ddd;
  padding: 5px;

  .usl-accordion-heading {
    margin: 0;
  }

//  .usl-accordion-content {
//    overflow: hidden;
//    height: 0;
//  }
}

// Tinymce
.usl-tinymce-shortcode-wrapper {
  &.usl_accordion {
    display: block;
  }
}