@import "../global";

// Page titles
.render-page-title {
  color: $primary-color;
  font-family: 'Helvetica', Arial, sans-serif;
  font-weight: bold !important;
  text-transform: uppercase;
  font-size: 30px !important;
  vertical-align: middle;

  .render-page-title-logo {
    width: 130px;
    height: auto;
    vertical-align: -33px;
  }
}

// Submit
.render-wrap {
  .submit {
    padding: 0;
    margin: 10px 0;
  }
}

// Switch
$switch-width: 150px;
$switch-height: $switch-width / 3;
.render-switch {
  width: $switch-width;
  height: $switch-height;
  position: relative;
  user-select: none;
  display: inline-block;

  input[type="checkbox"] {
    opacity: 0;

    &:checked + label {
      background: $primary-color;
      box-shadow: none;

      &:after {
        right: $switch-width - ($switch-height * 0.8) - (($switch-height - ($switch-height * 0.8)) / 2);
      }
    }
  }

  label {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #ddd;
    box-shadow: 0 0 0 1px #ccc inset;

    &:after {
      content: '';
      width: $switch-height * 0.8;
      height: $switch-height * 0.8;
      background: #fff;
      display: block;
      position: absolute;
      top: ($switch-height - ($switch-height * 0.8)) / 2;
      right: ($switch-height - ($switch-height * 0.8)) / 2;
      transition: right 300ms;
    }
  }
}

// Tables
.render-table {
  margin: 10px 0;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 3px;
  border-collapse: collapse;
  box-shadow: 0 1px 1px rgba(0,0,0,0.04);

  tr {
    width: 100%;
  }

  // Labels
  th {
    width: 30%;
    padding: 10px;
    text-align: left;
    background: #ddd;
  }

  // Content and inputs
  td {
    width: 80%;
    padding: 10px;
    background: #fff;
    border-left: 1px solid #ccc;
  }
}