@import "../global";

// Page titles
.render-page-title {
  color: $primary-color;
  font-family: 'Helvetica', Arial, sans-serif;
  font-weight: bold !important;
  text-transform: uppercase;
  font-size: 30px !important;
  vertical-align: middle;

  .render-page-title-logo {
    width: 130px;
    height: auto;
    vertical-align: -33px;
  }
}

// Submit
.render-wrap {
  .submit {
    padding: 0;
    margin: 10px 0;
  }
}

// Tables
.render-table {
  margin: 10px 0;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 3px;
  border-collapse: collapse;
  box-shadow: 0 1px 1px rgba(0,0,0,0.04);

  tr {
    width: 100%;
  }

  th, td {
    padding: 10px;
    white-space: nowrap;
  }

  // Labels
  th {
    background: #ddd;
    vertical-align: middle;
    font-size: 120%;
  }

  // Content and inputs
  td {
    background: #fff;
    border-left: 1px solid #ccc;
  }
}

// License status
.render-license-status {
  display: inline-block;
  font-size: 13px;
  line-height: 26px;
  height: 28px;
  margin: 0;
  padding: 0 10px 1px;
  background: #ddd;
  white-space: nowrap;
  box-sizing: border-box;
  box-shadow: 0 0 0 1px #ccc inset;
  color: #888;

  &.valid {
    background: $primary-color;
    color: #fff;
    box-shadow: none;
  }

  .dashicons {
    line-height: 26px;
  }
}

// TinyMCE toggles
.render-settings-tinymce {
  margin-bottom: 10px;
}