@import "../global";

// Logo in admin bar
#toplevel_page_render-settings {
  .wp-menu-image {
    @include icon('render-logo-condensed');

    &:before {
      font-family: 'Render' !important;

      // This icon doesn't seem to sit as nicely as the others, so it needs some minor tweaks
      font-size: 16px;
      margin-right: -5px;
      margin-top: 2px;
    }
  }
}

.button-red {
  background: $error-color !important;
  color: #fff !important;
  border-color: darken($error-color, 25%) !important;
  box-shadow: inset 0 1px 0 lighten($error-color, 10%), 0 1px 0 rgba(0, 0, 0, .08) !important;

  &:hover {
    background: darken($error-color, 5%) !important;
  }

  &:active {
    background: darken($error-color, 10%) !important;
  }
}