$usl-modal-width: 600px;
$usl-modal-height: 800px;

#usl-modal-backdrop {
  position: fixed;
  display: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(#000, 0.7);
  z-index: 100100;
}

#usl-modal-wrap {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: - $usl-modal-width / 2;
  margin-top: - $usl-modal-height / 2;
  width: $usl-modal-width;
  height: $usl-modal-height;
  overflow: hidden;
  box-shadow: 0 3px 6px rgba(#000, 0.3);
  background: #fff;
  z-index: 100105;

  @media screen and (max-width: $usl-modal-width + 20px) {
    width: auto;
    margin-left: 0;
    left: 10px;
    right: 10px;
  }

  @media screen and (max-height: $usl-modal-height + 20px) {
    height: auto;
    margin-top: 0;
    top: 10px;
    bottom: 10px;
  }

  .usl-modal-form {
    height: 100%;
  }

  .usl-modal-title {
    background: #fcfcfc;
    border-bottom: 1px solid #dfdfdf;
    font-size: 18px;
    font-weight: 600;
    line-height: 36px;
    padding: 0 36px 0 16px;
    top: 0;
    right: 0;
    left: 0;

    .usl-modal-close {
      color: #666;
      padding: 0;
      position: absolute;
      top: 0;
      right: 0;
      width: 36px;
      height: 36px;
      text-align: center;
      background: none;
      border: none;
      cursor: pointer;

      &:hover {
        color: #2ea2cc;
      }

      &:before {
        content: '\f158';
        font: normal 20px/36px 'dashicons';
        vertical-align: top;
        width: 36px;
        height: 36px;
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }

  .usl-modal-body {
    padding: 0 16px 50px;

    .usl-modal-search {
      position: relative;
      width: 100%;
      margin: 10px 0;
      box-sizing: border-box;

      input {
        width: 100%;
        line-height: 25px;
        padding: 0 5px;
        box-sizing: border-box;
      }

      .dashicons-search {
        position: absolute;
        right: 5px;
        top: 0;
        line-height: 29px;
        height: 29px;
      }

      .usl-modal-invalidsearch {
        background: $error-color;
        color: #fff;
        padding: 5px;
        box-sizing: border-box;
      }
    }

    .usl-modal-categories {
      overflow: hidden;
      position: relative;

      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      [class*="usl-modal-categories"]{
        position: absolute;
        height: 100%;
        top: 0;
        cursor: pointer;
        z-index: 1;

        &:before {
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
        }

        &:hover {
          &:before {
            opacity: 0.5;
          }
        }

        &[class*="-left"] {
          left: 0;
        }

        &[class*="-right"] {
          right: 0;
        }
      }

      ul {
        white-space: nowrap;
        position: relative;
        margin: 0;

        &:after {
          content: '';
          display: table;
          clear: both;
        }
      }

      li {
        display: inline-block;
        margin-right: -4px;
        width: 20%;
        text-align: center;
        cursor: pointer;
        border: 1px solid transparent;
        box-sizing: border-box;

        &.active {
          border-color: #ddd;
          padding: 10px 0;
          background: #F2F2F2;
        }

        .dashicons {
          width: 100%;
          font-size: 40px;
          line-height: 40px;
          height: auto;
        }
      }
    }

    .dashicons-leftright {
      text-align: center;
      width: 100%;
      display: block;
      margin: -8px 0 4px 0;
      font-size: 30px;
    }

    .usl-modal-shortcodes-container {
      position: relative;
    }

    .usl-modal-shortcodes-spinner {
      position: absolute;
      top: 50%;
      margin-top: -10px;
      left: 50%;
      margin-left: -10px;
      display: block;
      opacity: 1;
      z-index: 1;
    }

    .usl-modal-shortcodes {
      border-collapse: collapse;
      overflow-y: scroll;
      display: block;
      margin: 0;
      background: #fff;
      position: relative;
      z-index: 2;

      > li {
        display: block;
        cursor: pointer;
        border: 1px solid transparent;
        margin: 0;

        &.alt {
          background: darken(#fff, 5%);
        }

        &:hover {
          background: darken(#fff, 10%);
        }

        &.active {
          border-color: darken(#fff, 30%);
        }

        &:after {
          content: '';
          display: table;
          clear: both;
        }
      }

      .accordion-section-title, .usl-modal-sc-title {
        border: none;
        padding: 10px 5px;

        // Down arrow
        &:after {
          top: 9px;
        }
      }

      .accordion-section-content {
        padding: 0 20px 0 0;
        border-top: 1px solid darken(#fff, 30%);

        // Fix Chosen selectbox cutting off
        overflow: visible;
      }

      // Chosen
      .chosen-container {
        &.allow-custom-input {
          .no-results {
            display: none;
          }
        }

        .dashicons {
          vertical-align: middle;
          margin-right: 10px;
        }

        .usl-chosen-clear {
          position: absolute;
          right: 20px;
          top: 0;
          z-index: 1;
          color: #888;
          font-size: 16px;
          line-height: 25px;

          &:before {
            border-radius: 50%;
            transition: all 100ms;
          }

          &:hover {
            &:before {
              background: #888;
              color: #fff;
            }
          }
        }
      }

      .usl-modal-att-row {
        padding: 10px;

        @include clearfix;

        &.invalid {
          background: #ffc3bc;
          
          .usl-modal-att-field .usl-modal-att-errormsg {
            display: block;
          }
        }

        .usl-modal-att-name {
          float: left;
          width: 25%;
        }

        .usl-modal-att-field {
          float: left;
          width: 75%;
          position: relative;

          input[type="text"] {
            width: 100%;
          }

          .description {
            color: #999;
            font-style: normal;
            margin-top: 5px;
            margin-bottom: 0;
          }
          
          .usl-modal-att-errormsg {
            display: none;
          }

          .usl-modal-att-slider {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 20%;
            right: 0;
            margin-left: 20px;
          }

          .ui-slider-handle {
            outline: none;
            cursor: pointer;
          }

          .usl-modal-att-slider-value {
            width: 20%;
            text-align: center;
            margin: 0;
          }

          textarea[name="content"] {
            width: 100%;
            height: 100px;
          }
        }
      }

      .usl-modal-show-advanced-atts {
        padding: 10px;
        display: inline-block;
      }

      .usl-modal-shortcode-title {
        width: 25%;
        float: left;
      }

      .usl-modal-shortcode-description {
        width: 75%;
        float: left;
        padding-right: 20px;
        box-sizing: border-box;
      }
    }
  }

  .usl-modal-footer {
    padding: 8px 16px;
    background: #fcfcfc;
    border-top: 1px solid #dfdfdf;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;

    .usl-modal-cancel {
      line-height: 25px;
      float: left;
      a {
        color: #a00;
      }
    }

    #usl-modal-submit {
      float: right;
      margin-bottom: 0;
    }

    #usl-modal-remove {
      float: right;
      margin-right: 20px;
      background: $error-color;
      color: #fff;
      border-color: darken($error-color, 25%);
      box-shadow: inset 0 1px 0 lighten($error-color, 10%),0 1px 0 rgba(0,0,0,.08);

      &:hover {
        background: darken($error-color, 5%);
      }

      &:active {
        background: darken($error-color, 10%);
      }
    }
  }
}