@import "../global";

.render-notice {
  position: relative;

  .render-notice-cover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(#fff, 0.6);

    .spinner {
      position: absolute;
      left: 50%;
      top: 50%;
      margin-left: -10px;
      margin-top: -10px;
      display: block;
      visibility: visible;
    }
  }
}