body.render-shortcodes {
  .wp-list-table.render_shortcodes_tables {
    .disabled {
      background: #FFCBCB;

      td {
        color: #828282;
      }
    }
  }

  // Search feedback
  .render-search {
    color: #888;
    margin: 10px 0;
    font-size: 120%;
  }
}