body.render-shortcodes {
  .wp-list-table.render_shortcodes_tables {
    .disabled {
      background: #E5E5E5;

      &.alternate {
        background: darken(#E5E5E5, 2%);
      }

      td {
        color: #979797;
      }
    }
  }

  // Search feedback
  .render-search {
    color: #888;
    margin: 10px 0;
    font-size: 120%;
  }

  .render-sc-list-disabled {
    opacity: 0.6;
  }

  // Show Disabled button
  .render-show-disabled {
    margin: 1px 8px 0 0; // Mimicks other "action" buttons
  }
}