@import "../global";

.usl-widget {
  p {
    margin: 10px 0;
  }
}

.usl-widget-add-shortcode-container {
  text-align: center;

  .usl-widget-add-shortcode {
    border: 1px solid #ddd;
  }
}

.usl-widget-shortcode-preview {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.usl-widget-customizer-message {
  text-align: center;
  font-style: italic;
  color: #777;
}