@mixin clearfix {
  &:after {
    content: ' ';
    display: table;
    clear: both;
  }
}

$error-color: #ec6750;

@import 'modal';
@import 'widget';
@import 'tinymce';
@import 'addons-page';
@import 'shortcodes-page';